# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Local environment/IDE settings
.vscode/
.idea/
.venv

# Large data files (Optional: ignore CSVs if they are massive)
*.csv
